
.container{
    width: 950px;
	font-family: -apple-system, 'Segoe UI', Roboto;
	display: flex;
	margin: 30px auto;
}


/* ******************************NAVBAR******************************** */
.fixed-top{
	position: absolute;
}
.navbar .main-item{
	margin-left: 130px;
}

.navbar .nav-item{
	padding: 0px 10px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

.navbar .nav-item:hover{
	background-color: rgb(253, 255, 17);
	color: #000;
	border-radius: 3px;
}

.carousel-inner .btn:hover{
	background: rgb(253, 255, 17);
	border: 1px solid rgb(253, 255, 17);
}


.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 180px;
}
.carousel-caption h1 {
	font-weight: 900;
	letter-spacing: 2px;
	margin-top: 80px;
	font-family: merienda;
	
}

.carousel-caption p{
	font-size: 20px;
	width: 60%;
	padding: 30px 0px;
	line-height: 1.9;
	font-family: poppins;
	
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}


.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 18px;
}

.navbar-nav {
	text-align: center;
}

.nav-link {
	padding: .2rem 1rem;
}



/* .navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
} */



.w-100 {
	height: 100vh;
}



/***************************************SECOND PAGE**********************************/


.second-pg-div{
	/* border: 2px solid red; */
	display: flex;
	text-align: center;
	margin-top: 30px;

}


.pg-div1{
	/* border: 2px solid green; */
	width: 50%;
	height: 200px;
	text-align: left;
	color: black;
	margin-left: 70px;
}


.head1{
	font-weight: 700;
	margin-bottom: 1px;
	color: black;
	letter-spacing: 1px;
}

.pg-div1 p{
	width: 100%;
	padding-left: 40px;
}



.pg-div2{
	/* border: 2px solid black; */
	width: 50%;
	padding-top: 20px;
	color: grey;
	text-align: left;
	padding-left: 140px;
	
}

.row i{
	border: 2px solid grey;
	border-radius: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 70px;
	height: 70px;
	background: grey;
	color: #fff;
	padding-top: 20px;
}

.pg-div3{
	box-shadow: 5px 10px 20px rgba(0,0,0,0.75);
	border-radius: 10px;	
}


.pg-div4{
	box-shadow: 5px 10px 20px rgba(0,0,0,0.75);
	border-radius: 10px;
}


.pg-div5{
	box-shadow: 5px 10px 20px rgba(0,0,0,0.75);
	border-radius: 10px;
}



.pg-div3 .pg-div4 .pg-div5 h4,p{
	/* border: 2px solid black; */
	width: 60%;
	padding: 10px 0px;
	margin: 10px auto;
}

.second-pg-btn{
	border-radius: 50px;
}


.second-pg-btn:hover{
	background-color: grey;
	border: 2px solid grey;
	color: #fff;
} 


/***********************************PROJECTS******************************************/
.project-content h2{
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 100px;
}

.card-2{
	border-radius: 0px;
}

.card-img img{
	height: 450px;
}

.card-title{
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 20px;
	/* margin-bottom: 10px; */
}

.card-para{
	padding: 10px;
	width: 90%;
	margin-bottom: 15px;
	/* margin-bottom: 5px; */
}

.btn-sc{
	margin: 10px 25px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
}


.card-body1, .card-body3{
	background: rgb(238, 238, 238);
}


.card-body2, .card-body4{
	background: rgb(199, 199, 199);
}

.card-body1:hover{
	background: rgb(253, 255, 17);
}

.card-body2:hover{
	background: rgb(253, 255, 17);
}

.card-body3:hover{
	background: rgb(253, 255, 17);
}

.card-body4:hover{
	background: rgb(253, 255, 17);
}

.card-body1 .btn:hover{
	color: #fff;
	background-color: grey;
	border: 1px solid  grey; 
}

.card-body2 .btn:hover{
	color: #fff;
	background-color: grey;
	border: 1px solid  grey;
}

.card-body3 .btn:hover{
	color: #fff;
	background-color: grey;
	border: 1px solid  grey; 
}

.card-body4 .btn:hover{
    color: #fff;
	background-color: grey;
	border: 1px solid  grey;
}



/************************************PRICING TABLE***********************************/
.row h2{
	text-align: center;
	font-family: -apple-system, 'Segoe UI', Roboto;
	margin-bottom: 30px;
	font-weight: 700;
	/* text-transform: uppercase; */
}

.pricinghead{
	margin-bottom: 20px;
	border-bottom: 2px solid rgb(206, 205, 205);
	text-align: center;
}

.pricingcard{
	width: 292.6px;
	height: 600px;
}


.card1 {
    border:none;
    padding: 10px 50px;
	border-radius: 10px;
}
  
.card1::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.card1:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden; 
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
}
  
.card1:hover::after {
    opacity: 1;
}

.card1-body .btn:hover{
	background: grey;
	border: 2px solid grey;
	color: #fff;
}



/* **************************************VIDEO************************************* */

.video-prj{
	text-align: center;
	padding-top: 60px;
}

.video-prj h2{
	font-weight: 700;
	background: rgb(172, 170, 170);
	color: #fff;
}




.videocontainer {
	display: flex;
	width: 100%;
	padding: 40px;
	background: rgb(172, 170, 170);
}

.video{
	height: 300px;
	width: 33.333%;
	padding: 30px;
}

.video:hover{
	box-shadow: 5px 10px 30px rgba(0,0,0,.60);
	border-radius: 10px;
}




/************************************TEAM*********************************************/
.teamcontainer{
	/* border: 2px solid black; */
	padding: 0px 0px;
	height: 650px;
}

/* .team-img a:hover{
	i.fa-instagram;
} */

.row-p i{
	border: 2px solid transparent;
	/* border-radius: 50px; */
	margin: 0px 0px;
	width: 40px;
	height: 40px;
	padding-top: 6px;
	background: transparent;
	color: #fff;
}

.team-img{
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
}

.overlay-profile{
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 90px;
	width: 150px;
	background-color: transparent;
	opacity: 3;
	transform: translate(300px);
	transition: all 0.8s ease;
}

.overlay-profile i:hover{
	color: #000;
	background: rgb(253, 255, 17);
	border: 1px solid rgb(253, 255, 17);
	
}

.team-img:hover .overlay-profile{
transform: translate(0px);
}

.team-img:hover img{
	mix-blend-mode: darken;
}

.overlay-profile i{
	color: rgb(252, 250, 250);
	font-size: 25px;
}

/*********************************GALLERY*******************************************/

.imagecontainer h2{
	text-align: center;
	color: black;
	width: 400px;
	margin: 0px auto;
	font-weight: 700;
	border-bottom: 2px solid gray;
}

/* .gallery{
	border: 2px solid black; 
} */

.gallery img{
	width: 32.98%;
	height: 300px;
	margin: 0px;
	padding: 20px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.12);
}



/***************************************NewsLetter*********************************/
.newsletter{
	background-image: url('/img/bridge6n.jpg');
	color: #fff;
	height: 300px;
	margin: 80px 0px;
}

.form-seg{
	display: flex;
	margin: 0px 500px;
}



.newsh2{
	padding-top: 27px;
	padding-bottom: 15px;
	text-align: center;
}

.news-btn{
	text-transform: uppercase;
	height: 40px;
	margin: 0px 5px;
	font-weight: 700;
}

.news-btn:hover{
	background: rgb(253, 255, 17);
	border: 1px solid rgb(253, 255, 17);
}
.nl-form{
	padding: 0px 70px;
	height: 40px;
}




/***************************************Blog***************************************/
.row{
	text-align: center;
	
}
.col-lg-4{
	/* border: 2px solid red; */
    min-width: 316.666px;
} 

.blogcontainer h2{
	font-weight: 700;
	/* text-transform: uppercase; */
}

.text-center{
	width: 100%;
	margin: 20px 0px;
}

.blogcontainer p{
	padding: 0px 0px;
	/* margin: 0px 0px; */
}

.blogcol p{
	color: #000;
}


.btn-blog a{
    text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.btn-blog:hover{
	background-color: rgb(253, 255, 17);
	border: 1px solid rgb(253, 255, 17);
}


/***************************************Contact Us**********************************/

.contact-form{
   background: rgb(172, 170, 170);
}

.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.form-wrapper{
	/* border: 2px solid black; */
	height: 100vh;
	padding:  50px 20px;
	
}

.form-wrapper .company-address{
   
    /* border: 2px solid black; */
	
    width: 50%;
	padding-top: 34px;
	padding-left: 140px;
    float: left;
}

.form-wrapper .form{
	/* border: 2px solid white; */
    height: 750px;
    background: rgb(172, 170, 170);
    width: 50%;
    float: right;
}

.form-wrapper .company-address i{
    color:red;
    display: inline-block;
    margin-right: 16px;
}

.form-wrapper .company-address h2{
    display: inline-block;
    margin-right: 16px;
    text-transform: uppercase;
}

.form h3{
	text-align: center;
	color: #fff;
}

.form p{
	text-align: left;
	margin: 0px;
	color: #fff;
}

.form-wrapper .company-address img{
    max-width: 100%;
    min-height: 100%;
    object-fit: fill;
}


.form-wrapper .form{
	/* border: 2px solid purple; */
	height: 650px;
    font-size: 18px;
	padding-left: 100px;
    padding-right: 200px;
}

.form h3::after{
    content: "";
    width: 100%;
    display: block;
    border-bottom: 5px solid #fff;
}

.form-wrapper label{
    display: block;
}

.form-wrapper .form input{
    padding: 6.95px;
    width: 100%;
}

.form-wrapper .form .form-grp{
    margin-bottom: 5px;
	color:#fff;
}

.form-wrapper .form label::after{
    content: "*";
    color: #fff;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
}

.form-btn{
	width: 140px;
	font-weight: 700;
    display: block;
    margin: 0px auto;
    padding: 5px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background: #fff;
    color: black;
    overflow: none;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.form-btn:hover{
    background: rgb(253, 255, 17);
}

/**************************************Footer****************************************/

.footer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 40px;
}

.footer h6{
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 2px solid grey;
}

.footer p{
	font-weight: 700;
}

.footer .ad1{
	/* border: 2px solid red; */
	width: 33.333%;
	text-align: center;
}

.social-media-links {
	text-align: center;
	/* border: 2px solid red; */
	width: 33.333%;
}
.social-media-links i{
	margin: 10px 20px;
}

.social-media-links a{
	color: black;
	margin: 10px;
}

.class2:hover{
	transform: scale(1.9);
}

.footer .ad3{
	/* border: 2px solid red; */
	width: 33.333%;
	text-align: center;
}
.copyright{
	text-align: center;
}

.copyright p{
	font-size: larger;
}






